library(rpart.plot)
library(caret)
library(lattice)
library("ISLR")
library("SmartEDA")
library("tidyverse")
library(DT)
library(VIM)
library(readr)
library(plyr)
library (MASS)
library(grid)
library(ggpubr)
library(ggplot2)
library(psych)
library(pastecs)
library(gmodels)
library(knitr)
library(kableExtra)
library(hrbrthemes)
library(dplyr)
library(PASWR)
library(BSDA)
library(lsr)
library(faraway)
library(gridExtra)
library(corrplot)
library(ResourceSelection)
library(InformationValue)
library(plotROC)
library(DescTools)